[submodule "backend"]
	path = backend
	url = https://github.com/MenkeTechnologies/CIS4914ProjectDatabaseAPI
[submodule "frontend"]
	path = frontend
	url = https://github.com/MenkeTechnologies/CIS4914ProjectDatabaseUI
